body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-title {
 text-align: center;
 padding-top: 20px;
 margin-bottom: -10px;
}
.slideshow-container {
    position: relative;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    width: 90%;
}

.slide {
    display: none; /* Only one slide is shown at a time */
    padding: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    margin-left: -25px;
    margin-right: -25px;
    color: #4682b4;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #4682b4;
    color: #ffffff;
}


.bar { fill: #4682b4; }
.insight { font-size: 14px; }
.context-text { font-size: 16px; margin: 20px 0; }
.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #b0c4de;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip2 {
    position: absolute;
    text-align: center;
    width: 127px;
    height: 43px;
    padding: 2px;
    font: 12px sans-serif;
    background: #b0c4de;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
