
/* styles.css */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    width: 80%;
}

.slide {
    display: none; /* Only one slide is shown at a time */
    padding: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Add some basic styling */
.bar { fill: steelblue; }
.insight { font-size: 14px; }
.context-text { font-size: 16px; margin: 20px 0; }
.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip2 {
    position: absolute;
    text-align: center;
    width: 127px;
    height: 43px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
